/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /**
   * border-radius
   */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
   * transition 
   */

  --transition-timing: 0.2s ease;

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::placeholder {
  font: inherit;
}

body {
  background: var(--white);
}

/**
 * scrollbar style
 */

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.container {
  max-width: 1350px;
  margin: auto;
}



/********************  
******* HEADER ******
*********************/


.desktop-navigation-menu {
  display: none;
}

.header-social-container {
  display: flex;
  gap: 5px;
}

.header-top .container {
  display: flex;

  align-items: center;
  justify-content: space-between;
  color: var(--sonic-silver);
}

.header-top {
  padding: 10px 0;
  border-bottom: 1px solid var(--cultured);
}

.social-links {
  color: var(--sonic-silver);
  padding: 5px;
  background: hsl(0, 0%, 95%);
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}

.social-links:hover {
  background: var(--salmon-pink);
  color: var(--white);
}

.header-alert-news {
  font-size: var(--fs-7);
  text-transform: uppercase;
}

.header-top-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-top-actions select {
  border: none;
  min-width: 80px;
  padding: 5px 0;
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition-timing);
  font: inherit;
  display: block;
}

.header-top-actions select:focus {
  border: none;
  outline: none;
}

/* Logo and Search bar */
.header-main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.header-search-container {
  display: flex;
  align-items: center;
  width: 70%;
  position: relative;
}


.header-user-actions {
  display: flex;
  gap: 20px;
}

.header-user-actions .header-user-actions {
  width: 100%;
  height: 100%;
  color: var(--onyx);
  font-size: 35px;
}

.action-btn {
  font-size: 35px;
  color: var(--onyx);
  position: relative;
}

.action-btn .count {
  position: absolute;
  top: -10px;
  right: -7px;
  background: var(--bittersweet);
  color: var(--white);
  font-size: 12px;
  font-weight: var(--weight-500);
  line-height: 1;
  padding: 2px 4px;
  border-radius: 20px;
}

.search-btn {
  font-size: 20px;
  position: absolute;
  right: 20px;
}

.header-search-container .search-field {
  padding-right: 50px;
  border: 1px solid var(--cultured);
  color: var(--onyx);
  font-size: var(--fs-7);
  padding: 10px 15px;
  border-radius: var(--border-radius-md);
}

.header-search-container .search-field:focus {
  outline: none;
  border: 1px solid var(--ocean-green);
}